.alt-header {
  display: flex;
  padding: var(--horizontal-space);
  padding-top: 40px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  text-align: left;
}

.alt-header__column:last-child {
  text-align: right;
}

.chat__fa-margin {
  margin-left: 20px;
}
