.nav {
  background-color: rgba(255, 177, 131, 0.8);
  padding: 15px 50px;
  border-top: 1px solid rgba(255, 177, 131, 1);
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2f363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav_notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAimation {
  from {
    /* transform: translateY(50px);
    opacity: 0; */
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAimation 0.9s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.15s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.3s;
}
.nav__btn:last-child {
  animation-delay: 0.45s;
}
