.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.575);
  color: white;
  font-weight: 700;
}

.red-dat-alert {
  position: absolute;
  right: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.575);
}

.red-dat-alert__position-control {
  bottom: 18px;
  left: 78px;
}

.red-dat-alert__more__position-control {
  bottom: 18px;
  left: 135px;
}

.special-symbol__rad-dat-position {
  bottom: 60px;
  left: 80px;
}

.content-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0px;
}

#exclamation-icon__setting {
  color: rgba(255, 0, 0, 0.575);
}
